<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">


 <script>
 (function () {
   var e,i=["https://fastbase.com/fscript.js","AlQJniCur9","script"],a=document,s=a.createElement(i[2]);
   s.async=!0,s.id=i[1],s.src=i[0],(e=a.getElementsByTagName(i[2])[0]).parentNode.insertBefore(s,e)
 })();
</script> 
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/research">Research</a></li>
<li><a href="/teaching">Teaching</a></li>
<li><a href="/links">Links</a></li>
<li><a href="/reading">Reading Group</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li>"You should know the truth, and the truth should set you free." John 8:32</li>
   </ul>
  </footer>
  </body>

</html>
